.button{
    padding: 20px;
    margin: 1px 1px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 53px;
    text-align: center;
}
.button:hover{
    color: white;
    font-weight: bold;
    background-color: black;
}
.row{
    margin: 3px 0px;
}
.row input{
    margin: 0px;
    padding: 7px 15px;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    width: 208px;
   
}
